@model List<Category>
<div class="card ml-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Choose a Category</h5>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
        Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            @foreach(Category category in Model)
            {
                <partial name="_Category" model="category"/>
            }
        </ul>
    </div>
  </div>
</div>