@using ClickandCollect.ViewModels
@{
    ViewData["Title"]= "Choose a Date";
    ViewData["Log Out"]= "/ Log Out";
}
@section navBarItems{
    <ul class="navbar-nav ml-auto">
        <li>
            <a asp-controller="Client" asp-action="SeeCart" class="btn btn-primary">Cart</a>
        </li>     
    </ul>
}
@model DateViewModel
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br /><br />
    @if (!String.IsNullOrEmpty(ViewBag.success))
    {
        <p class="alert alert-success">
            @ViewBag.success
        </p>
    }
    <div class ="text-md-center">
        <p>Choose a date to get your order:</p>
        <form asp-controller="Client" asp-action="ChooseDate" method="post">
            <input class="p-2 mb-5 mt-3" asp-for="Date" />
            <br />
            <input type="submit" value="Submit" class="btn btn-outline-primary"/>
            <br/>
            <span class="text-danger">@ViewBag.dateisnotvalid</span>

        </form>
    </div>
</div>